@charset "UTF-8";

h1 {
    font-style: oblique;
    font-weight: normal;
    text-align: left;
    display: inline;
    color: #333333;
    /*  color: #c0c0c0;         */
}

div.container {            
    border: 1px solid black;
    height: 100%;     
    width: 100%;  
    text-align: center;
}

div.codeBox {
    border: 1px solid black;
    height: 79%;        
    width: 100%;        
}

div.uploadBox {
    border: 1px solid black;
    height: 20%;
    width: 100%;    
}

div.svgBox {    
    border: 1px solid black;
    width: 50%;
    height: 100%;    
    margin-left: 50%;
    margin-right: 0px;    
}

div.scxmlBox {
    border: 1px solid black;
    width: 50%;
    height: 100%;
    float: left;
}

textarea.codeBox {    
    resize: vertical;
    width: 98%;
}