/************************
 *  File:   layout.css  *
 *  Author: Ivo Hradek  *
 ************************/
body{
	margin:0;
	padding:0;
        color: #8F938F;
	font-size:12px;        	
	background-color: #1E1E1E;
        font-family: Helvetica, Georgia, Arial, sans-serif;	
}

h1 {
    color: #1E90FF;
    display: inline;  
    text-align: left;
    font-weight: bold;        
    font-style: normal;    
}


div.container {       
    width: 100%;  
    height: 100%;         
    text-align: center;
    border: 0px solid black;
}


div.codeBox {    
    height: 79%;        
    width: 100%;        
    border: 0px solid black;
}


div.uploadBox {    
    height: 20%;
    width: 100%;
    text-align: left;
    border: 0px solid black;
}


div.svgBox {        
    width: 50%;
    height: 100%;    
    text-align: left;       
    margin-left: 50%;    
    margin-right: 0px;
    border: 0px solid black;
}


div.scxmlBox {    
    width: 50%;
    float: left; 
    height: 100%;    
    text-align: left;
    border: 0px solid black;
}


textarea.codeBox {   
    width: 98%;
    overflow: auto;
    max-width: 95%;
    max-height: 10%;
    resize: vertical;    
}

footer {        
    bottom: 0;
    width: 100%;    
    height: 20%;
    color: silver;
    text-align: left;    
    position: absolute;
}
                                                
.ui-widget-content {    
    padding: 1px;
    max-height: 350px;
    background-color: black;
}

.resizable {
    background-color: black;
}

.button, .uploadButton, .downloadButton {        
    color: #1E1E1E;
    text-align: center;    
    background-color: #999999;
    border: 1px solid #EEEEEE;
}

.uploadButton {
    margin: -5px;
    height: 26px;
    font-weight: bold;  
    padding-left: 20px;    
    padding-right: 20px;    
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    font-family: Georgia, Arial, sans-serif;          
}

.uploadButton:hover {  
    color: #F2F2F2;      
    text-align: center;    
    background-color: #00A0DB;            
}

.downloadButton {
    padding-left: 20px;        
    padding-right: 20px;    
    font-weight: normal;        
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;        
    font-family: Helvetica, Georgia, Arial, sans-serif;
}

.downloadButton:hover {
    color: #F2F2F2;    
    text-align: center;    
    background-color: #00A0DB;               
}

.hoverH1:hover {
    color: #8F938F;
}

.fileInput {
    width: 50%;
    border: 2px solid #8F938F;   
}

.uploadForm {
    width: 50%; 
    margin-left: 10px;    
}

a:link {
    color: #1E90FF;
}

a:visited {
    color: #008B8B;
}

a:hover {
    color:#EEEEEE;
}

a:active {
    color:#f00000;
}